.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #ddd;
  }
  
  .loading-bar {
    height: 100%;
    background-color: #4caf50;
    transition: width 0.4s;
  }
  